<h1>Cadastro de Veículos</h1>

<form #veiculoForm="ngForm">
  <div>
    <label for="tipo">Tipo</label>
    <select name="tipo" id="tipo" required [(ngModel)]="newVeiculo.tipo" #tipo="ngModel">
      <option value="Carro">Carro</option>
      <option value="Moto">Moto</option>
    </select>
    <span *ngIf="tipo.invalid && tipo.dirty" class="error">Campo obrigatório</span>
  </div>
  <div>
    <label for="marca">Marca</label>
    <input type="text" id="marca" name="marca" required [(ngModel)]="newVeiculo.marca" #marca="ngModel">
    <span *ngIf="marca.invalid && marca.dirty" class="error">Campo obrigatório</span>
  </div>
  <div>
    <label for="modelo">Modelo</label>
    <input type="text" id="modelo" name="modelo" required [(ngModel)]="newVeiculo.modelo" #modelo="ngModel">
    <span *ngIf="modelo.invalid && modelo.dirty" class="error">Campo obrigatório</span>
  </div>
  <div>
    <label for="cor">Cor</label>
    <input type="text" id="cor" name="cor" required [(ngModel)]="newVeiculo.cor" #cor="ngModel">
    <span *ngIf="cor.invalid && cor.dirty" class="error">Campo obrigatório</span>
  </div>
  <div>
    <label for="ano">Ano Fabricação</label>
    <input type="number" id="ano" name="ano" required [(ngModel)]="newVeiculo.ano" #ano="ngModel">
    <span *ngIf="ano.invalid && ano.dirty" class="error">Campo obrigatório</span>
  </div>
</form>

<input type="button" value="Salvar" (click)="salvarVeiculo()" [disabled]="veiculoForm.invalid">

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Ano Fabricação</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vei of veiculos" [ngStyle]="{'background-color': vei.tipo === 'Carro'? '#3368FF' : '#33FF4F'}">
      <td>{{ vei.tipo }}</td>
      <td>{{ vei.marca }}</td>
      <td>{{ vei.modelo }}</td>
      <td>{{ vei.cor }}</td>
      <td>{{ vei.ano }}</td>
      <td><input type="button" value="Editar" (click)="editarVeiculo(vei)"></td>
      <td><input type="button" value="Remover" (click)="removerVeiculo(vei)"></td>
    </tr>
  </tbody>
</table>